* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  min-width: 100%;

  background: #000;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}